/* Add any global styles or custom fonts here */
@import url('http://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&family=Merriweather:wght@400;700&display=swap');
@import 'react-datepicker/dist/react-datepicker.css';
/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;



html, body, #root {

  height: 100%;
  margin: 0;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden; 
}